<!DOCTYPE html>
<html>
<head>
    <title>My To-Do List</title>
    <style>
        .pending{
            color:red
            font-weight:bold;
        }
        .completed{
            color:green;
        }
        .completed-task{
            text-decoration: line-through;
            color:grey;
        }
    </style>
</head>
<body>
    <p>
    Hello, {{ user.username }}! 
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
</p>
<hr>
    <h1>My Tasks</h1>
    <p>
    Hello, **{{ user.username }}**! 
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
</p>
<hr>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Task</button></form>
        <hr>
    
    <ul>
        {% for task in tasks %}
            <li>
                
    <span class="{% if task.completed %}completed-task{% endif %}">
        {{ task.title }}
    </span>
    

               
                <a href="{% url 'edit_task' task.id %}">[Edit]</a>
                <a href="{% url 'delete_task' task.id %}" style="color: grey; margin-left: 10px;">[Delete]</a>
                {% if task.completed %} 
                <span class='completed'>(Done! ✅)</span> 
                {% else %}
                <span class='pending'>(Pending ⏳) </span> {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>